@import '~style/variables.less';

.Allowances {
  .full-height-flex-page();

  &-control {
    padding: 1rem 0.75rem;
    display: flex;
    align-items: center;

    &-select {
      flex: 1;
    }

    > * {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-form {
    flex: 1;
    background: #fff;
    border-top: 1px solid rgba(#000, 0.15);
  }

  &-add {
    width: 100%;
    margin-top: -0.25rem;

    &-input {
      .ant-select-auto-complete & .ant-input,
      .ant-input-search-button {
        height: 3rem;
      }

      .ant-select-auto-complete & .ant-input {
        font-size: 1.1rem;
      }

      .ant-input-search-button {
        font-size: 1.2rem;
      }
    }
  }

  &-addHint {
    margin-top: 0.3rem;
    margin-bottom: -0.5rem;
    opacity: 0.7;
    font-size: 0.7rem;
  }
}
