.BalanceModal {

  @media (max-width: 767px) {
    min-width: 90%;
  }

  .ant-modal-body {
    padding: 0;
  }

  &-header {
    padding: 1rem;
  }

  &-chart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1.5rem;

    &-progress {
      .ant-progress-circle-path:nth-child(2) {
        stroke: #d9d9d9 !important;
      }
    }
  }

  &-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FBFBFB;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;

    .ant-statistic-content-suffix {
      display: block;
    }
  }

  &-details {

    // Ant override
    .ant-tabs {
      flex: 1;
      background: #FFF;
    }

    .ant-tabs-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0;
      z-index: 1000;
      border-top: 1px solid rgba(#000, 0.1);
    }

    .ant-tabs-nav {
      width: 100%;

      > div {
        display: flex;
        width: 100%;
      }

      .ant-tabs-tab {
        margin: 0;
        flex: 1;
        text-align: center;
        font-weight: normal;
      }
    }
    
    .ant-tabs-content {
      height: 100%;
      padding-top: 44px; // Height of sticky nav

      .ant-tabs-tabpane {
        height: 100%;
        overflow: auto;

        &.ant-tabs-tabpane-inactive {
          overflow: visible;
        }
      }
    }

  }
}