# dependencies
/node_modules

# testing
/coverage

# production
/dist
/dist-dev
/dist-prod
/dist-docker

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tmp/

# vscode
.vscode

.idea/