.Settings {
  width: 100%;
  padding: 4rem 1rem 1rem;

  &-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #FFF;
    border-bottom: 1px solid rgba(#000, 0.08);

    &-title {
      text-align: center;
      line-height: 3rem;
      margin: 0;
    }

    &-back {
      position: absolute;
      top: 50%;
      left: 1rem;
      font-size: 1.2rem;
      transform: translateY(-50%);
    }
  }

  &-form {
    &-section {
      margin-bottom: 3rem;

      &-title {
        font-size: 1.2rem;
        margin-bottom: 0.75rem;
      }

      // Ant overrides
      .ant-form-item {
        margin-bottom: 0.5rem;
      }

      .ant-form-item-label label {
        font-weight: 600;
        opacity: 0.7;
      }

      .ant-checkbox-wrapper {
        display: block;
        margin: 0.5rem 0 0 0;
      }
    }
  }
}
