.PaymentPrompt {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &-amount,
  &-description {
    padding: 0.25rem 1.5rem;
    margin-bottom: 1rem;

    &-label {
      font-size: 0.6rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.1rem;
      opacity: 0.7;
    }
  }

  &-amount {
    &-value {
      font-size: 1.4rem;

      .Unit-secondary {
        display: block;
        font-size: 1rem;
        opacity: 0.7;
      }
    }

    // Ant overrides
    .ant-input-group.ant-input-group-compact {
      display: flex;
    }

    .ant-select-selection-selected-value {
      font-size: 0.85rem;
    }
  }

  &-description {
    &-value {
      font-size: 1.1rem;

      em {
        opacity: 0.6;
      }
    }
  }
  

  &-details {
    flex: 1;
    background: #FFF;
    border-top: 1px solid #EEE;

    .ant-tabs-bar {
      margin-bottom: 0;
      
      .ant-tabs-nav-container {
        padding-left: 1rem;
      }
    }
  }
}

.DetailsTable {
  width: 96%;
  margin: 0 auto;

  &-row {
    border-bottom: 1px solid rgba(#000, 0.05);

    &.is-large {
      // tr height behaves like min-height
      height: 4.2rem;
    }

    &:last-child {
      border: none;
    }

    &-label {
      padding: 0.75rem 0 0.75rem 1rem;
      padding-left: 1.5rem;
      text-align: left;
      font-size: 0.9rem;
    }
    &-value {
      padding: 0.75rem 1rem 0.75rem 0;
      text-align: right;
      font-size: 1rem;

      em {
        opacity: 0.4;
        font-size: 0.8rem;
      }

      .Unit-secondary {
        display: block;
        font-size: 0.8rem;
        opacity: 0.7;
      }
    }
  }
}
