.VerifyPrompt {
  margin: 1.25rem;
  padding: 0.75rem 1rem 1rem;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(#000, 0.2);
  font-size: 0.9rem;

  &-graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.75rem;

    &-icon {
      width: 3.8rem;
      height: 3.8rem;
      padding: 0.5rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-divider {
      padding: 0 1rem;
      font-size: 1.4rem;
      opacity: 0.4;
    }
  }

  &-title {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;

    strong {
      display: block;
    }
  }

  &-text {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
  }

  &-message {
    background-color: #FAFAFA;
    padding: 0.6rem;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(#000, 0.2);
    font-size: 0.8rem;
    word-break: break-all;
  }
}